<div>
<%= link_to "Back", root_path %>

<%= link_to "Edit", edit_tart_path %>
<%= link_to "Delete", tart_path(@tart), method: :delete, data: { confirm: "Are you sure?" } %>
</div>

<div class ="row">

<div class="col-md-4">
<%= image_tag @tart.tart_img.url(:tart_show), class: "tart-show" %>
</div>


<div class="col-md-8">
<%= link_to "Add Rating", new_tart_rating_path(@tart) %>


<div class="ratings">
<h2> Ratings </h2>

<%= render @tart.ratings %>
</div>
</div>

<script>
$('.rating-taste').raty({
readOnly: true,
score: function() {
return $(this).attr('data-score');
},
path: '/assets/images'
});
</script>

<script>
$('.rating-appearance').raty({
readOnly: true,
score: function() {
return $(this).attr('data-score');
},
path: '/assets/images'
});
</script>

<script>
$('.rating-texture').raty({
readOnly: true,
score: function() {
return $(this).attr('data-score');
},
path: '/assets/images'
});
</script>